/* Partie commune*/
#AnchorPane{
	-fx-background-image: url("Images/dark-sky.jpg");
	-fx-background-size: contain;
	

}
#bandeau{
	-fx-border-style: solid;
	-fx-border-color: white;
	-fx-resize:both;
	-fx-position: bottom;
}



.GridPane {
    -fx-border-color: white;
}

.label {
    -fx-text-fill: white;
}

#Pane_Label {
    -fx-text-fill: black;
}
.button:hover {
	-fx-background-color:#685c5c;
	-fx-position:relative;
}

.menu-bar{
	-fx-background-color: black;
}

/* Fin partie commune*/

/* Page de connexion */
#SplitPane{
	-fx-background-color: transparent;
}
#upperPane{
	-fx-background-color: transparent;
}
#downPane{
	-fx-background-color: transparent;
}

.text-field{
	-fx-background-color :white;
}
/* Fin page de connexion */

/* Page d'accueil */
/* Fenêtre des règles */
#centre_regles{

}
#droite_regles{
        -fx-font-weight: bold;
}
/* Fin fenêtre des règles */

/*Fin page d'accueil*/

/*Début page Solo */
#etage0{
	-fx-border-color:white;
	-fx-border-width :5px;
}
#etage1{
	-fx-border-color:white;
	-fx-border-width :5px;
}
#etage2{
	-fx-border-color:white;
	-fx-border-width :5px;
}
#etatPartie {
    -fx-background-color: rgba(192,192,192,0.7);
}
/*Fin page Solo*/

/*Début page Rejoindre Partie */

#first{
-fx-border-color:white;
	-fx-border-width :2px;
}

#second{
-fx-border-color:white;
	-fx-border-width :2px;
}

#third{
	-fx-border-color:white;
	-fx-border-width :2px;
}


/*Fin page Rejoindre Partie */